<div class="row m-5">
    <div class="float-start col-lg-8 text-center">
        <h1 class="bgcolor mt-5 mb-3">WELCOME!</h1>
        <!-- <h4 class="textanimation">I am a Full Stack Web Developer.</h4>
        <p>I love building things on the web.</p> -->
        <p class="mx-5 p-3">My name is Damini, I am a Full Stack Web Developer based in New Delhi, India. I love building things on the Web and sharing my knowledge with others.</p>

    </div>
    <div class="float-end col-lg-4">
        <img src="assets/images/ImgCreator.png" height="300px" width="300px" class="rounded rounded-3 float-right img-fluid" alt="...">
    </div>
</div>
<div class="div m-3"></div>