<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand logo ms-5 " href="/portfolio/portfolio">DAMINI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/experience">Experience</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="/skills">Skills</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <a href="https://drive.google.com/file/d/1sfpOFGXY_gRIpMj8AJ-c7Ou71SMvxrG6/view?usp=sharing">
      <button class="btn btng text-light me-5 float-right">Resume</button>
    </a>
  </div>
</nav>