<div class="row m-3">
    <div class="col">
        <div class="container">
            <h1 class="title m-3">Professional Experience</h1>
            <ol>
                <li>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="dates m-0">Dec 2019 – Feb 2023</p>
                        </div>
                        <div class="col">
                            <h5 class="m-0">Associate Software Engineer - Truops - SDG</h5>
                            <p></p>
                            <ul>
                                <li>Collaborated with 2 developers to implement Restful APIs in Node.js (Express), enabling analytics team to increase reporting speed by 30%. </li>
                                <li>Reviewed code and conducted testing for 5 additional features on web app that increased contribution by 13%. </li>
                                <li>Build UI with dynamic components in Angular and Bootstrap.</li>
                                <li>Built RESTful APIs that served data to the JavaScript front-end based on dynamically chosen user inputs that handled over 60000 concurrent users. </li>
                                <li>Collaborated with group of 6 engineers to create feature across the software. </li>
                                <li>Tested software for bugs, and operating speed, fixing bugs, and documenting processes to increase efficiency by 20%. </li>
                                <li>Collaborated with product managers to re-architect a multi-page web app, boosting yearly revenue by $0.5M.</li>
                            </ul>
                            <div class="btns m-3">
                                <button type="button" class="btn btn-dark m-1">HTML</button>
                                <button type="button" class="btn btn-dark m-1">CSS</button>
                                <button type="button" class="btn btn-dark m-1">JavaScript</button>
                                <button type="button" class="btn btn-dark m-1">Node.js</button>
                                <button type="button" class="btn btn-dark m-1">Express</button>
                                <button type="button" class="btn btn-dark m-1">MongoDB</button>
                                <button type="button" class="btn btn-dark m-1">Angular</button>
                                <button type="button" class="btn btn-dark m-1">MySQL</button>
                                <button type="button" class="btn btn-dark m-1">Core Java</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="dates m-0">Apr 2019 – Nov 2019 </p>
                        </div>
                        <div class="col">
                            <h5 class="m-0">Computer Operator - Sewa Bharti</h5>
                            <p></p>
                            <ul>
                                <li>Managed the front desk, checking 45+ guests in and out of their rooms and confirming 20+ new reservations via phone and email each shift.</li>
                                <li>Confirmed appointments, communicated with doctors, and updated patient records.</li>
                                <li>Managed multiple and met time-sensitive deadlines.</li>
                                <li>Restocked supplies and submitted purchase orders to maintain stock levels.</li>
                                <li>Handled cash transactions and maintained sales and payments records accurately.</li>
                                <li>Maintain good working relationships with all service providers & internal customer to ensure that services.</li>
                            </ul>
                            <div class="btns m-3">
                                <button type="button" class="btn btn-dark m-1">MS Word</button>
                                <button type="button" class="btn btn-dark m-1">MS Excel</button>
                                <button type="button" class="btn btn-dark m-1">MS Powerpoint</button>
                                <button type="button" class="btn btn-dark m-1">Email</button>
                                <button type="button" class="btn btn-dark m-1">Research</button>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="dates m-0">Jan 2019 – Mar 2019</p>
                        </div>
                        <div class="col">
                            <h5 class="m-0">Computer Instructor - OCC</h5>
                            <p></p>
                            <ul>
                                <li>Trained 20+ Students in MS Office, HTML, CSS.</li>
                                <li>Met with students outside of class to answer questions, demonstrate difficult concepts and address individual concerns.</li>
                                <li>Received 95% positive feedback from students for competence and approachability.</li>
                            </ul>
                            <div class="btns m-3">
                                <button type="button" class="btn btn-dark m-1">MS Office</button>
                                <button type="button" class="btn btn-dark m-1">MS Word</button>
                                <button type="button" class="btn btn-dark m-1">MS Excel</button>
                                <button type="button" class="btn btn-dark m-1">MS Powerpoint</button>
                                <button type="button" class="btn btn-dark m-1">Email</button>
                                <button type="button" class="btn btn-dark m-1">HTML</button>
                                <button type="button" class="btn btn-dark m-1">CSS</button>
                                <button type="button" class="btn btn-dark m-1">Core Java</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div> 
<div class="div m-3"></div>