<div class="row m-5 text-center">
    <h1>Web Development Projects</h1>
</div>
<div class="row m-5">
    <div class="">
        <button type="button" class="btn btn-dark p-2 m-1">HTML</button>
        <button type="button" class="btn btn-dark p-2 m-1">CSS</button>
        <button type="button" class="btn btn-dark p-2 m-1">Bootstrap</button>
        <button type="button" class="btn btn-dark p-2 m-1">JavaScript</button>
        <button type="button" class="btn btn-dark p-2 m-1">Node.js</button>
        <button type="button" class="btn btn-dark p-2 m-1">Express</button>
        <button type="button" class="btn btn-dark p-2 m-1">Angular</button>
        <button type="button" class="btn btn-dark p-2 m-1">MongoDB</button>
        <button type="button" class="btn btn-dark p-2 m-1">Typescript</button>
        <!-- <button type="button" class="btn btn-dark">Angular</button> -->
    </div>
</div>
<div class="row mx-5">
    <div class="col">
        <a href="https://www.youtube.com/watch?v=6ncCVJHA4bc"> <img src="assets/images/project1.jpg" height="300px"
                class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        <a href="http://"> <img src="assets/images/ImgCreator.png" height="300px"
                class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        <a href="http://"> <img src="assets/images/ImgCreator.png" height="300px"
                class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        <a href="http://"> <img src="assets/images/ImgCreator.png" height="300px"
                class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
    </div>
</div>
<div class="div m-3"></div>