<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6">
            <p class="font-weight-bold">Address: Delhi, India</p>
            <p class="">Phone: <a class="text-dark" href="tel:9717910516">9717910516</a></p>
            <p class="">Email: <a class="text-dark" href="mailto:daminisanduja28@gmail.com">daminisanduja28@gmail.com</a></p>
            <div class="mapouter"><div class="gmap_canvas">
                <iframe width="100%" height="300" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d896423.2361952763!2d75.91016028030674!3d28.640152296297433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi%2C%20India!5e0!3m2!1sen!2sus!4v1683980971552!5m2!1sen!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <h5 class="text-center">Contact Us</h5>
            <form>
                <div class="mb-3">
                    <input type="text" placeholder="Enter Full Name" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="email"  placeholder="Enter Email Address" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text"  placeholder="Enter Phone Number" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text"  placeholder="Enter Subject" class="form-control">
                </div>
                <div class="mb-3">
                    <textarea  rows="5" class="form-control" placeholder="Enter Message"></textarea>
                </div>
                <div class="mb-3">
                   <button type="submit" class="btn w-100 btng text-light">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="div m-3"></div>