<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="http://"> <img src="assets/images/html.jpg" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
        <div class="col">
            <a href="http://"> <img src="assets/images/css.jpg" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
        <div class="col">
            <a href="http://"> <img src="assets/images/javascript.png" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
        <div class="col">
            <a href="http://"> <img src="assets/images/Angular.png" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
                
    </div>

    <div class="row">
        <div class="col">
            <a href="http://"> <img src="assets/images/bootstrap.png" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
        <div class="col">
            <a href="http://"> <img src="assets/images/mysql.jpg" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
        <div class="col">
            <a href="http://"> <img src="assets/images/nodejs.png" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
        <div class="col">
            <a href="http://"> <img src="assets/images/mongo.jpg" height="200px" width="200px"
                    class="bg-image hover-zoom rounded imgs m-3" alt=""> </a>
        </div>
       </div>
</div>
<div class="div m-3"></div>
